@using SherpaFrontEnd.Model

<td><input type="text" class="form-control" @bind="@GroupMember.Name"/></td>
<td><input type="text" class="form-control" @bind="@GroupMember.LastName"/></td>
<td><input type="text" class="form-control" @bind="@GroupMember.Position"/></td>
<td><input type="text" class="form-control" @bind="@GroupMember.Email"/></td>
<td>
    <button class="btn btn-primary" onclick="@OnSaveMemberClick"><span class="oi oi-check"></span></button>
    <button class="btn btn-primary" onclick="@OnDeleteMemberClick"><span class="oi oi-trash"></span></button>
</td>

@code {
    [Parameter]
    public GroupMember GroupMember { get; set; }
    
    [Parameter]
    public EventCallback<GroupMember> OnSaveMember { get; set; }
    
    [Parameter]
    public EventCallback<string> OnDeleteMember { get; set; }

    private async Task OnSaveMemberClick()
    {
        GroupMember.IsEditable = false;
        await OnSaveMember.InvokeAsync();
    }

    public async Task OnDeleteMemberClick()
    {
        await OnDeleteMember.InvokeAsync(GroupMember.Email);
    }

}