@using SherpaFrontEnd.Model
@using SherpaFrontEnd.Pages

<td><input type="text" class="form-control" @bind="@GroupMember.Name"/></td>
<td><input type="text" class="form-control" @bind="@GroupMember.LastName"/></td>
<td><input type="text" class="form-control" @bind="@GroupMember.Position"/></td>
<td><input type="text" class="form-control" @bind="@GroupMember.Email"/></td>
<td>
    <div class="btn-group">
        <button class="btn btn-save" onclick="@OnSaveMemberClick"><span class="oi oi-check"></span></button>
        <button class="btn btn-remove" onclick="@OnDeleteMemberClick"><span class="oi oi-trash"></span></button>
    </div>
</td>

@code {
    [Parameter]
    public GroupMember GroupMember { get; set; }
    
    [Parameter]
    public EventCallback<GroupMember> OnSaveMember { get; set; }
    
    [Parameter]
    public EventCallback<string> OnDeleteMember { get; set; }
    
    [CascadingParameter]
    public IModalService Modal { get; set; } = default!;

    private async Task OnSaveMemberClick()
    {
        GroupMember.IsEditable = false;
        await OnSaveMember.InvokeAsync();
    }

    private async Task OnDeleteMemberClick()
    {
        var modal = Modal.Show<ConfirmationModal>($"Delete {GroupMember.Name} {GroupMember.LastName}?");
        var modalResult = await modal.Result;

        if (!modalResult.Cancelled)
        {
            await OnDeleteMember.InvokeAsync(GroupMember.Email);
        }
    }

}