@using SherpaFrontEnd.Model
<td>@GroupMember.Name</td>
                    <td>@GroupMember.LastName</td>
                    <td>@GroupMember.Position</td>
                    <td>@GroupMember.Email</td>
                    <td>
                        <button class="w-50 btn btn-outline-primary btn-sm" onclick="@OnEditMemberClick">Edit</button>
                        <button class="w-50 btn btn-outline-danger btn-sm" onclick="@OnDeleteMemberClick">Delete</button>
                    </td>


@code {
    [Parameter]
    public GroupMember GroupMember { get; set; }
    
    [Parameter]
    public EventCallback<GroupMember> OnEditMember { get; set; }
    
    [Parameter]
    public EventCallback<string> OnDeleteMember { get; set; }

    private async Task OnEditMemberClick()
    {
        GroupMember.IsEditable = true;
        await OnEditMember.InvokeAsync();
    }
    
    private async Task OnDeleteMemberClick()
    {
        await OnDeleteMember.InvokeAsync(GroupMember.Email);
    }
}