@using SherpaFrontEnd.Model
<td>@GroupMember.Name</td>
                    <td>@GroupMember.LastName</td>
                    <td>@GroupMember.Position</td>
                    <td>@GroupMember.Email</td>
                    <td>
                        <button class="btn btn-primary" onclick="@OnEditMemberClick"><span class="oi oi-pencil"></span></button>
                        <button class="btn btn-primary" onclick="@OnDeleteMemberClick"><span class="oi oi-trash"></span></button>
                    </td>


@code {
    [Parameter]
    public GroupMember GroupMember { get; set; }
    
    [Parameter]
    public EventCallback<GroupMember> OnEditMember { get; set; }
    
    [Parameter]
    public EventCallback<string> OnDeleteMember { get; set; }

    private async Task OnEditMemberClick()
    {
        GroupMember.IsEditable = true;
        await OnEditMember.InvokeAsync();
    }
    
    private async Task OnDeleteMemberClick()
    {
        await OnDeleteMember.InvokeAsync(GroupMember.Email);
    }
}