@using SherpaFrontEnd.Model
@using SherpaFrontEnd.Services
@using SherpaFrontEnd.Shared.Modals
@using SherpaFrontEnd.Shared.Tabs
@using System.Net
@inject NavigationManager Nav
@inject IGroupDataService GroupDataService
@inject IAssessmentsDataService AssessmentsDataService

@page "/group-content/{GroupId:guid?}"

    <h3>@Group?.Name
        <button class="btn btn-remove" title="Delete group" @onclick="DeleteGroup"><span class="oi oi-trash"></span></button>
    </h3>


<TabControl>
    <TabPage Text="Members">
        <Members
            Group="@Group"
            OnUpdateGroup="@OnUpdateGroup">
        </Members>
    </TabPage>
    <TabPage Text="Assessments">
        <Assessments
            SurveyTemplates="@SurveyTemplates"
            SelectedGroupAssessments="@Assessments"
            SelectedGroupId="@Group?.Id"
            Emails="@Emails"
            OnAddSurvey="@OnAddSurvey"
            OnCreateEvaluation="@OnUpdateAssessment"
            OnDeleteEvaluation="@OnUpdateAssessment">
        </Assessments>
    </TabPage>
</TabControl>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    
    [Parameter]
    public Guid GroupId { get; set; } = Guid.Empty;
    
    public Group? Group { get; set; }

    private List<string?> Emails { get; set; } = new();
    
    private List<SurveyTemplate>? SurveyTemplates { get; set; }
    
    private List<Assessment>? Assessments { get; set; }
    
    [CascadingParameter]
    public IModalService Modal { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        Group = await GroupDataService.GetGroup(GroupId);
        Emails = Group!.Members.Select(m => m.Email).ToList();
        SurveyTemplates = await AssessmentsDataService.GetTemplates();
        Assessments = await AssessmentsDataService.GetAssessments(GroupId);
    }
    
    private async Task OnUpdateGroup(Group group)
    {
        await GroupDataService.PutGroup(group);
    }
    
    private async Task OnUpdateAssessment(Assessment assessment)
    {
        await AssessmentsDataService.PutAssessment(assessment);
    }
    
    private async Task OnAddSurvey(SurveyTemplate template)
    {
        var assessmentName = $"{template.Name} {DateTime.Now}";
        var assessment = await AssessmentsDataService.AddAssessment(GroupId, template.Id, assessmentName);

        if (assessment is not null)
        {
            Assessments!.Add(assessment);
        }
    }

    private async void DeleteGroup()
    {
        var modal = Modal.Show<ConfirmationModal>($"Delete {Group!.Name}?");
        var modalResult = await modal.Result;

        if (!modalResult.Cancelled)
        {
            var deleteStatus = await GroupDataService.DeleteGroup(GroupId);
            if (deleteStatus == HttpStatusCode.OK)
            {
                Nav.NavigateTo("/groups-list-page");
                //TODO alert (on groups page) successfully deleted
            }
            //TODO alert (on this page) group wasn't deleted
        }


    }
}