@using SherpaFrontEnd.Dtos.Survey

<div class="relative overflow-x-auto shadow-md sm:rounded-lg gap-2.5" style="margin: 0 1cm">
    <table class="w-full text-sm text-left text-gray-900">
        <thead class="text-text-body-14pt-regular text-primary-dark-800 bg-gray-100">
            <tr>
                <th scope="col" class="px-6 py-3 font-normal">
                    Survey title
                </th>
                <th scope="col" class="px-6 py-3 font-normal">
                    Template
                </th>
                <th scope="col" class="px-6 py-3 font-normal">
                    Coach
                </th>
                <th scope="col" class="px-6 py-3 font-normal">
                    Deadline
                </th>
                <th scope="col" class="px-6 py-3 font-normal">
                    Participants
                </th>
                <th scope="col" class="px-6 py-3 font-normal">
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var survey in Surveys) {
            <tr class="bg-white hover:bg-gray-50 text-text-body-14pt-regular">
                <td class="px-6 py-4">
                    <div class="flex items-center text-text-body-14pt-semibold text-primary-dark-principal">
                        @survey.Title
                    </div>
                </td>
                <td class="px-6 py-4">
                    @survey.Template.Name
                </td>
                <th scope="row" class="flex items-center px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                    <img class="w-10 h-10 rounded-full" src="https://images.squarespace-cdn.com/content/v1/5dc8c552827e992c23db627c/1621993751451-EBKN1QNNFWPKHEFQU4GU/Minions_Galerie3.jpg" alt="Jese image">
                    <div class="pl-3">
                        <div class="font-normal text-gray-500">@survey.Coach.Name Gismondi</div>
                    </div>
                </th>
                <td class="px-6 py-4">
                    <div class="flex items-center">
                         @if (@survey.Deadline == null)
                         {
                            <span>Not Defined</span>
                         }
                         else {
                            <span>@survey.Deadline.Value.ToString("MM/dd/yyyy")</span>
                         }
                    </div>
                </td>
                <td class="px-6 py-4">
                    <div class="flex items-center">
                        TODO
                    </div>
                </td>
                <td class="px-6 py-4">
                <div class="flex items-center">
                    <div class="h-2.5 w-2.5 rounded-full bg-gray-300 mr-2"></div>
                    @survey.Status
                </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>


@code {
    [Parameter]
    public List<Survey> Surveys { get; set; }
}