@page "/answer-survey/{surveyId:guid}/{memberId:guid}"
@using SherpaFrontEnd.Dtos
@using SherpaFrontEnd.Dtos.Survey
@using SherpaFrontEnd.Services
@inject ISurveyService SurveyService
@inject NavigationManager NavigationManager

<div>
    @if (_survey != null)
    {
        <h2>@_survey.Title</h2>
        <div>
            <p>@_survey.Description</p>
        </div>
    }
    @if (_questions != null)
    {
        @foreach (var question in _questions.OrderBy(_ => _.Position))
        {
            <label>
                <p>
                    @question.Statement[Languages.ENGLISH]
                </p>
            </label>
            @foreach (var response in question.Responses[Languages.ENGLISH])
            {
                <div>
                    <input type="radio" id="@question.Position-@Array.IndexOf(question.Responses[Languages.ENGLISH], @response)" name="@question.Position" value="@response">
                    <label for="@question.Position-@Array.IndexOf(question.Responses[Languages.ENGLISH], @response)">@response</label>
                </div>
            }
        }
    }
</div>


@code {

    [Parameter]
    public Guid SurveyId { get; set; }

    [Parameter]
    public Guid MemberId { get; set; }

    private SurveyWithoutQuestions? _survey;
    private List<Question>? _questions;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _survey = await SurveyService.GetSurveyWithoutQuestionsById(SurveyId);
            _questions = await SurveyService.GetSurveyQuestionsBySurveyId(SurveyId);
        }
        catch
        {
            NavigationManager.NavigateTo(NavigationManager.BaseUri + "error");
        }
    }

}