@page "/survey/draft-review/{SurveyId:guid}"
@using SherpaFrontEnd.Dtos
@using SherpaFrontEnd.Services
@inject ISurveyService SurveyService

<div class="flex-1 bg-gray-100 p-8">
    <h3 class="mb-8 text-black font-semibold text-title-h2--semibold">Review survey</h3>
    <div class="mt-8 p-10 flex rounded-2xl border border-gray-200 px-12 bg-gray-white">
        @if (_survey != null)
        {
            <div class="flex flex-col w-1/2 divide-y divide-primary-dark-100">
                <div class="flex flex-col border border-gray-200 border-bottom">
                    <p class="text-title-caption-12px">TEMPLATE SELECTED</p>
                    <p class="text-text-body-14pt-regular">@_survey.Template.Name</p>
                </div>
                <div class="border border-gray-200">
                    <div class="flex flex-col mt-6">
                        <p class="text-title-caption-12px">SURVEY TITLE</p>
                        <p class="text-text-body-14pt-regular">@_survey.Title</p>
                    </div>
                    <div class="flex flex-col mt-6">
                        <p class="text-title-caption-12px">SURVEY DESCRIPTION</p>
                        <p class="text-text-body-14pt-regular">@_survey.Description</p>
                    </div>
                </div>
                <div class="flex flex-col mt-6">
                    <p class="text-title-caption-12px">DELIVERY</p>
                    @if (_survey.Deadline != null)
                    {
                        <p class="text-text-body-14pt-regular">@_survey.Deadline.Value.ToString("d-M-yyyy")</p>
                    }
                    else
                    {
                        <p class="text-text-body-14pt-regular">Not defined</p>
                    }
                </div>
            </div>
            <div class="flex flex-col w-1/2 rounded-2xl px-12 bg-gray-100">
                <p class="text-title-caption-12px">TEAM</p>
                <p class="text-text-body-14pt-regular">@_survey.Team.Name</p>
            </div>
        }
    </div>
    <div class="mt-9 flex w-full justify-end" role="group">
        <button>Preview</button>
        <button type="submit" class="flex items-center gap-2 rounded-lg px-6 py-2 text-base text-white bg-primary-red-principal-800 hover:bg-primary-red-900">Launch survey</button>
    </div>

</div>

@code {

    [Parameter]
    public Guid SurveyId { get; set; }

    private SurveyWithoutQuestions? _survey;

    protected override async Task OnInitializedAsync()
    {
        _survey = await SurveyService.GetSurveyById(SurveyId);
    }

}