@page "/survey/draft-review/{SurveyId:guid}"
@using SherpaFrontEnd.Dtos
@using SherpaFrontEnd.Services
@inject ISurveyService SurveyService
@inject NavigationManager NavigationManager

<div class="flex-1 bg-gray-100 p-8">
    <h3 class="mb-8 text-black font-semibold text-title-h2--semibold">Review survey</h3>
    <div class="mt-8 p-10 flex rounded-2xl border border-gray-200 px-12 bg-gray-white">
        @if (_survey != null)
        {
            <div class="flex flex-col w-1/2 divide-y divide-primary-dark-100 pr-8">
                <div class="flex flex-col pb-2">
                    <p class="text-title-caption-12px text-primary-dark-400 mb-2">TEMPLATE SELECTED</p>
                    <p class="text-text-body-14pt-regular text-primary-dark-principal">@_survey.Template.Name</p>
                </div>
                <div class="flex flex-col pt-8 pb-6">
                    <div class="flex flex-col">
                        <p class="text-title-caption-12px text-primary-dark-400 mb-2">SURVEY TITLE</p>
                        <p class="text-text-body-14pt-regular text-primary-dark-principal">@_survey.Title</p>
                    </div>
                    <div class="flex flex-col mt-6">
                        <p class="text-title-caption-12px text-primary-dark-400 mb-2">SURVEY DESCRIPTION</p>
                        <p class="text-text-body-14pt-regular text-primary-dark-principal">@_survey.Description</p>
                    </div>
                </div>
                <div class="flex flex-col pt-8">
                    <p class="text-title-caption-12px text-primary-dark-400 mb-2">DELIVERY</p>
                    @if (_survey.Deadline != null)
                    {
                        <p class="text-text-body-14pt-regular text-primary-dark-principal">Ends on @_survey.Deadline.Value.ToString("d-M-yyyy")</p>
                    }
                    else
                    {
                        <p class="text-text-body-14pt-regular text-primary-dark-principal">Not defined</p>
                    }
                </div>
            </div>
            <div class="flex flex-col w-1/2 rounded-2xl p-6 bg-gray-100">
                <p class="text-title-caption-12px text-primary-dark-400 mb-2">TEAM</p>
                <p class="text-text-body-14pt-regular text-primary-dark-principal">@_survey.Team.Name</p>
            </div>
        }
    </div>
    <div class="mt-9 flex w-full justify-end gap-6" role="group">
        <button class="rounded-lg px-6 py-2 text-base text-primary-dark-800 border border-primary-dark-800/[.2] bg-white border hover:bg-primary-dark-100">Preview</button>
        <button type="submit" class="flex items-center gap-2 rounded-lg px-6 py-2 text-base text-white bg-primary-red-principal-800 hover:bg-primary-red-900">Launch survey</button>
    </div>

</div>

@code {

    [Parameter]
    public Guid SurveyId { get; set; }

    private SurveyWithoutQuestions? _survey;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _survey = await SurveyService.GetSurveyById(SurveyId);
        }
        catch
        {
            NavigationManager.NavigateTo(NavigationManager.BaseUri + "error");
        }
    }

}